body {
    background-color: #FDDBFC;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #FF1A1A;
}
.bread{
    height: 60vh;
    width: 60vh;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 30vh;
    z-index: 3;
}
img {
    width: auto;
    height: 100%;
    max-width: 100%;
}
.inside {
    margin: 0;
    position: relative;
    width: 60vh;
    height: 50vh;
    opacity: 1;
    display: block;
  }
  
.inside1 {
    margin: 0;
    position: relative;
    width: 60vh;
    height: auto;
    padding-top: 60vh;
    opacity: 1;
    display: block;
  }
  .inside2 {
    margin: 0;
    position: relative;
    width: 60vh;
    height: auto;
    padding-top: 60vh;
    opacity: 1;
    display: block;
  }
  .inside3{
    margin: 0;
    position: relative;
    width: 60vh;
    height: auto;
    padding-top: 60vh;
    opacity: 1;
    display: block;
  }
  .inside4 {
    margin: 0;
    position: relative;
    width: 60vh;
    height: auto;
    padding-top: 60vh;
    opacity: 1;
    display: block;
  }
  .inside5 {
    margin: 0;
    position: relative;
    width: 60vh;
    height: auto;
    padding-top: 60vh;
    opacity: 1;
    display: block;
  }
  .inside6 {
    margin: 0;
    position: relative;
    width: 60vh;
    height: auto;
    padding-top: 60vh;
    opacity: 1;
    display: block;
  }
  .inside7 {
    margin: 0;
    position: relative;
    width: 60vh;
    height: auto;
    padding-top: 60vh;
    opacity: 1;
    display: block;
  }
  .inside8 {
    margin: 0;
    position: relative;
    width: 60vh;
    height: auto;
    padding-top: 60vh;
    opacity: 1;
    display: block;
  }
  .inside9 {
    margin: 0;
    position: relative;
    width: 60vh;
    height: auto;
    padding-top: 60vh;
    opacity: 1;
    display: block;
  }
.filling {
    width: 60vh;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 35vh;
    padding-bottom: 20vh;
    opacity: 1;
    z-index:1;
}
.w3-button {
 height:60vh;
 width: 29vh;
 opacity: 0 ;
}
.buttons {
 height: 60vh;
 width: 60vh;
 position:  absolute;
 margin: auto;
 left: 0;
 right: 0;
 top: 0;
}
.w3-button:hover {
    opacity: 0.2;
}
.person {
    position: absolute;
    top:0;
    z-index: 2 ;
    width: 10vh;
    height: 10vh;
    padding: 0;
}
.buttonP {
    width: 10vh;
    height: 10vh;
    position: absolute;
    top: 0px ;
    left: 230px; 
    z-index: 5 ;
}
#video {
    position: absolute;
    top:0;
    left: 0;  
    z-index: 1 ;
}
#canvas {
    position: absolute;
    top:0;
    left: 0;  
    z-index: 4 ;
    padding: 0;
}
#snap {   
    position: absolute;
    top:0;
    z-index: 4 ;
    width: 10vh;
    height: 10vh;
    opacity: 0 ;
}
.photo {
  display: inline-block;
  position: relative;
  top:  0;
  left:  0;
}
.location {
    width: auto;
    height: 90px ;
    z-index: 1 ;
}
.buttonL {
    width: 90px;
    height: 90px ;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0 ;
    z-index: 2 ;
}
.adress {
    display: inline-block;
    position: relative;
    top:  15px;
    left:  335px;
    float: left;
    width: 120px;
    position: fixed;
}
.header {
    z-index: 6;
    position: fixed;
}
.order{
  width: 15vh;
  height: 15vh;
  display: inline-block;
  float: right;
  margin: 1vh;
  background-color:red;
  border-radius: 25px;
  z-index: 2;
  background-image: url(cart.png);
  background-size: 15vh;
}
.add{
  display: inline-block;
  float: right;
  margin: 1vh;
  width: 15vh;
  height: 15vh;
  background-color:red;
  border-radius: 25px;
  z-index: 2;
  text-align: center;
  color: #FDDBFC;
  font-size: 13.5vh;
}
.footer{
  width: 60vh;
  height: 15vh;
  position: fixed;
  margin: auto;
  right: 0;
  bottom: 2vh;
  z-index: 4;
}
.smiley {
  font-size: 13vw;
  width: 50vw;
  margin: auto;
  text-align: center;
  margin-top: 20vh;
}
.mouth {
  text-align: center;
  font-size: 13vw;
  text-decoration:  none;
  color: #FF1A1A;
  animation-name: zoom;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes zoom{
  from {font-size: 13vw;}
to {font-size: 18vw;}
}

.hide {
  height: 100vh;
  width:60vh;
  position: fixed;
  margin: auto;
  top:0;
  left: 0;
  right: 0;
  z-index: 2;
}

.top{
  background-color: #FDDBFC;
  height: 50vh;
  width: 60vh;
  position: relative;
  top: 0;
}
.bottom {
  background-color: #FDDBFC;
  height: 29vh;
  width: 60vh;
  position: absolute;
  bottom: 0;
}
.cart{
  background-color: black;
  opacity: 0.5;
  width: 20vh;
  height: 15vh;
  position: absolute;
  top: 0;
  
}